@import url("variables.scss");
@import url("general.scss");
@import url("variables.scss");
@import url("variables.scss");
@import url("variables.scss");
@import url("general.scss");
@import url("variables.scss");
@import url("general.scss");
html,
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #cacaca;
  width: 1440px;
  font-size: 16px;
  margin: 0;
  color: #cacaca;
  line-height: 1.5;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
  color: #ffffff;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: uppercase;
  color: #ffffff;
}

h3 .capitalize {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: capitalize;
  color: #ffffff;
}

h3 .capitalize-bold {
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  text-transform: capitalize;
  color: #ffffff;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: uppercase;
  color: #ffffff;
}

h4 .capitalize-bold {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: capitalize;
  color: #ffffff;
}

.text-size-7 {
  font-size: 64px;
  font-weight: normal;
  line-height: 96px;
  text-transform: none;
  color: #ffffff;
}

.text-size-6 {
  font-size: 56px;
  font-weight: normal;
  line-height: 84px;
  text-transform: none;
  color: #ffffff;
}

.text-size-5 {
  font-size: 48px;
  font-weight: normal;
  line-height: 72px;
  text-transform: none;
  color: #ffffff;
}

.text-size-4 {
  font-size: 40px;
  font-weight: normal;
  line-height: 60px;
  text-transform: none;
  color: #ffffff;
}

.text-size-3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 48px;
  text-transform: none;
  color: #ffffff;
}

.text-size-2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  text-transform: none;
  color: #ffffff;
}

.text-size-1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  text-transform: none;
  color: #ffffff;
}

.text-small {
  font-size: 12.8px;
  font-weight: normal;
  line-height: 19.2px;
  text-transform: none;
  color: #ffffff;
}

.text-small-bold {
  font-size: 12.8px;
  font-weight: bold;
  line-height: 19.2px;
  text-transform: none;
  color: #ffffff;
}

a {
  display: block;
  text-decoration: none;
  color: #cacaca;
  border: none;
}

.btn {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 1rem;
}

.gray {
  color: #cacaca;
}

.container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media only screen and (max-width: 414px) {
  body {
    font: "Roboto" 11px/12.89px;
    font-weight: 700;
    text-align: left;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    color: #ffffff;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .container {
    max-width: 374px;
  }
}
.white {
  color: white;
}

.upper {
  text-transform: uppercase;
}

#page-news {
  margin: 0px;
  padding: 0px;
  width: 1440px;
  height: 842px;
  background-color: #08020d;
}
#page-news .section-news {
  width: 1200px;
  padding-top: 100px;
  margin-left: 120px;
}
#page-news .section-news * {
  margin: 0px;
  text-align: center;
  color: #ffffff;
}
#page-news .section-news .new {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 50px;
  margin-top: 48px;
}
#page-news .section-news .new .music-to-be {
  width: 575px;
  height: 286px;
}
#page-news .section-news .new .text-new * {
  text-align: left;
  margin: 0px;
}
#page-news .section-news .new .text-new .text-header {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
}
#page-news .section-news .new .text-new .text-midle {
  color: #cacaca;
  margin-top: 30px;
}
#page-news .section-news .new .text-new .date-music {
  margin-top: 24px;
  width: 186px;
  height: 20px;
  display: grid;
  grid-template-columns: 19px 67px 68px;
  grid-column: 16px;
  justify-content: space-between;
}
#page-news .section-news .new .text-new .date-music * {
  margin: 0px;
}
#page-news .section-news .new .text-new .date-music img {
  width: 19px;
  height: 19px;
}
#page-news .section-news .new .text-new .date-music .box {
  color: #f89202;
}
#page-news .section-news .new .text-new .date-music .date {
  color: #cacaca;
}
#page-news .section-news .new .text-new .in-albom {
  text-align: left;
}
#page-news .section-news .new .text-new .btn {
  box-sizing: border-box;
  width: 135px;
  height: 53px;
  margin-top: 48px;
  padding: 16px 30px;
  color: #cacaca;
  border: 1px solid #cacaca;
  text-align: left;
}
#page-news .section-news .new .text-new .text-small {
  font-size: 12px;
}
#page-news .section-news .one {
  margin-top: 65px;
}

@media only screen and (max-width: 414px) {
  #page-news {
    width: 414px;
    height: 1216px;
  }
  #page-news .section-news {
    width: 374px;
    margin-left: 20px;
    margin-right: 20px;
  }
  #page-news .section-news .new {
    grid-template-columns: 1fr;
    height: 492px;
  }
  #page-news .section-news .new .music-to-be {
    width: 374px;
    height: 186px;
  }
  #page-news .section-news .new .text-new .text-header {
    font-size: 16px;
    line-height: 24px;
    margin-top: 50px;
  }
  #page-news .section-news .new .text-new .text-midle {
    color: #cacaca;
    margin-top: 16px;
  }
  #page-news .section-news .new .text-new .date-music {
    margin-top: 24px;
    width: 187px;
    height: 19px;
  }
  #page-news .section-news .new .text-new .in-albom {
    text-align: left;
  }
  #page-news .section-news .new .text-new .btn {
    box-sizing: border-box;
    width: 135px;
    height: 53px;
    margin-top: 48px;
    padding: 16px 30px;
    color: #cacaca;
    border: 1px solid #cacaca;
    text-align: left;
  }
  #page-news .section-news .new .text-new .text-small {
    font-size: 12px;
  }
  #page-news .section-news .one {
    margin-top: 64px;
    height: 485px;
    display: flex;
    flex-direction: column-reverse;
  }
}
#page-description {
  background-image: url("../images/banner.png");
  max-width: 1440px;
  background-position: center;
  background-size: cover;
  z-index: -1;
  box-sizing: border-box;
}

.fotter-top {
  display: flex;
  max-width: 1200px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 20px;
  top: 25px;
  position: absolute;
  color: #cacaca;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.fotter-top * {
  font-size: 11px;
  line-height: 16.5px;
}
.fotter-top .logo {
  margin-right: 90px;
  font-size: 11px;
  line-height: 16.5px;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  column-gap: 16px;
}
.fotter-top .logo img {
  height: 25px;
  width: 25px;
}
.fotter-top .menu {
  display: flex;
  flex-direction: row;
  font-size: 11px;
  flex-wrap: wrap;
  column-gap: 1.5rem;
  line-height: 16.5px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}
.fotter-top .menu a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
}
.fotter-top .menu .music {
  color: #ffffff;
}
.fotter-top .searc-p {
  margin-left: auto;
}
.fotter-top .searc-p .search {
  color: #757575;
  border-radius: 50px;
  width: 248px;
  height: 25px;
  box-sizing: border-box;
  padding: 5px 10px;
  background: #3c3b3d;
  border: none;
  font-family: Arial;
  font-size: 13.3px;
  font-weight: 400;
  line-height: 15.29px;
  text-align: left;
}

.description {
  max-width: 1200px;
  padding: 200px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.description * {
  margin: 0px;
  text-align: center;
}
.description .fotter-indication {
  font-size: 16px;
  line-height: 24px;
  margin-top: 31px;
}
.description .form-name-email {
  display: flex;
  max-width: 570px;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1.2rem;
  margin: 0px auto;
  margin-top: 17px;
}
.description .form-name-email * {
  flex-grow: 1;
}
.description .form-name-email .input-name,
.description .form-name-email .input-email {
  max-width: 273px;
  height: 50px;
  padding-left: 20px;
  border-radius: 3px;
  border: 2px solid #cacaca;
  box-sizing: border-box;
  background: transparent;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  color: #ffffff;
  text-align: left;
}
.description .form-name-email input.input-name::placeholder {
  color: #ffffff;
}
.description .form-name-email input.input-name::-webkit-input-placeholder {
  color: #ffffff;
}
.description .form-name-email input.input-name::-moz-placeholder {
  color: #ffffff;
}
.description .form-name-email input.input-name:-moz-placeholder {
  color: #ffffff;
}
.description .form-name-email input.input-name:-ms-input-placeholder {
  color: #ffffff;
}
.description .form-name-email input.input-email::placeholder {
  color: #ffffff;
}
.description .form-name-email input.input-email::-webkit-input-placeholder {
  color: #ffffff;
}
.description .form-name-email input.input-email::-moz-placeholder {
  color: #ffffff;
}
.description .form-name-email input.input-email:-moz-placeholder {
  color: #ffffff;
}
.description .form-name-email input.input-email:-ms-input-placeholder {
  color: #ffffff;
}
.description .form-name-email .form-button {
  margin-top: 24px;
  justify-content: safe;
  height: 57px;
  min-width: 374px;
  font-family: Arial;
  font-size: 13.3px;
  font-weight: 400;
  line-height: 15.29px;
  box-sizing: border-box;
  padding: 20px 30px;
  border-radius: 5px;
  background: #34c176;
  border: none;
}

@media only screen and (max-width: 414px) {
  #page-description {
    max-width: 414px;
  }
  .fotter-top {
    max-width: 374px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .fotter-top .logo {
    margin-left: 0px;
    font-size: 11px;
    height: 24px;
    line-height: 16.5px;
  }
  .fotter-top .menu {
    margin-left: 0px;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    font-size: 11px;
    line-height: 12.89px;
    align-items: start;
  }
  .fotter-top .searc-p {
    margin-top: 18px;
    margin-left: 0px;
  }
  .fotter-top .searc-p .search {
    margin-left: 0px;
  }
  .description {
    padding-top: 248px;
    max-width: 374px;
    text-align: center;
    margin-top: 78px;
    margin-bottom: 201px;
    padding: 0;
  }
  .description * {
    margin: 0px;
    max-width: 374px;
  }
  .description .fotter-indication {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    font-weight: 400;
  }
  .description .form-name-email {
    justify-content: space-between;
    row-gap: 24px;
  }
  .description .form-name-email * {
    flex-grow: 1;
  }
  .description .form-name-email .input-name,
  .description .form-name-email .input-email {
    max-width: 374px;
  }
  .description .form-name-email .form-button {
    margin-top: 0px;
    font-family: Arial;
    font-size: 13.3px;
    font-weight: 400;
    line-height: 15.29px;
    box-sizing: border-box;
  }
}
#page-pricing {
  margin: 0px;
  padding: 0px;
  background: #08020d;
  height: 908px;
}
#page-pricing .section-pricing {
  padding-top: 100px;
  margin-left: 122px;
}
#page-pricing .section-pricing * {
  text-align: center;
  color: #ffffff;
  margin: 0px;
}
#page-pricing .section-pricing .pricing-form {
  width: 1200px;
}
#page-pricing .section-pricing .pricing {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2;
  grid-column: 50px;
}
#page-pricing .section-pricing .pricing .pricing-item {
  box-sizing: border-box;
  margin-top: 48px;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 368.2px;
  height: 615px;
}
#page-pricing .section-pricing .pricing .pricing-item .price {
  font-family: "Roboto";
  margin-top: 200px;
  margin-left: 99px;
  width: 193px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#page-pricing .section-pricing .pricing .pricing-item .price .pricing-value {
  font-size: 64px;
  line-height: 1em;
  font-weight: normal;
}
#page-pricing .section-pricing .pricing .pricing-item .price .pricing-value .text-size-2 {
  text-transform: uppercase;
}
#page-pricing .section-pricing .pricing .pricing-item a {
  margin-top: 40px;
  width: 318.66px;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 1rem;
  padding: 21px 0px;
}
#page-pricing .section-pricing .pricing .pricing-item a .text-size-1 {
  text-transform: uppercase;
}
#page-pricing .section-pricing .pricing .pricing-item .pricing-footer {
  margin-top: 64px;
  width: 318px;
  height: 57px;
}
#page-pricing .section-pricing .pricing .bg-free,
#page-pricing .section-pricing .pricing .bg-free-three,
#page-pricing .section-pricing .pricing .bg-free-two {
  width: 368.2px;
  height: 615px;
  background-position: center;
  background-size: cover;
}
#page-pricing .section-pricing .pricing .bg-free {
  background-image: url("../images/subscribe_1.png");
}
#page-pricing .section-pricing .pricing .bg-free .price {
  width: 121px;
}
#page-pricing .section-pricing .pricing .bg-free-two {
  background-image: url("../images/subscribe_2.png");
}
#page-pricing .section-pricing .pricing .bg-free-three {
  background-image: url("../images/subscribe_3.png");
}
#page-pricing .section-pricing .pricing-info {
  width: 1200px;
  height: 64px;
  margin-top: 43px;
}

@media only screen and (max-width: 414px) {
  #page-pricing {
    width: 414px;
    height: 2220px;
  }
  #page-pricing .section-pricing {
    padding-top: 100px;
    margin: 0 20px;
    width: 374px;
  }
  #page-pricing .section-pricing h3 {
    font-weight: 400;
  }
  #page-pricing .section-pricing .pricing-form {
    width: 374px;
  }
  #page-pricing .section-pricing .pricing {
    width: 374px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    grid-row: 50px;
  }
  #page-pricing .section-pricing .pricing .pricing-item {
    box-sizing: border-box;
    margin-top: 46px;
    padding: 1.5rem;
    border-radius: 1rem;
    width: 374px;
    height: 598px;
  }
  #page-pricing .section-pricing .pricing .pricing-item .price {
    font-family: "Roboto", sans-serif;
    margin-top: 203px;
    margin-left: 99px;
    width: 193px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #page-pricing .section-pricing .pricing .pricing-item .price .pricing-value {
    font-size: 64px;
    line-height: 1em;
    font-weight: normal;
  }
  #page-pricing .section-pricing .pricing .pricing-item .price .pricing-value .text-size-2 {
    text-transform: uppercase;
  }
  #page-pricing .section-pricing .pricing .pricing-item a {
    width: 326px;
  }
  #page-pricing .section-pricing .pricing .pricing-item .pricing-footer {
    width: 324.27px;
    height: 57px;
  }
  #page-pricing .section-pricing .pricing .bg-free,
  #page-pricing .section-pricing .pricing .bg-free-three,
  #page-pricing .section-pricing .pricing .bg-free-two {
    width: 374px;
    height: 598px;
  }
  #page-pricing .section-pricing .pricing .bg-free .price {
    width: 123.42px;
  }
  #page-pricing .section-pricing .pricing-info {
    width: 374px;
    height: 120px;
    margin-top: 40px;
    text-align: center;
  }
}
#page-app {
  height: 583px;
  background-color: #08020d;
}
#page-app .app {
  padding-top: 100px;
  margin: 0px 120px;
  width: 1200px;
  text-align: center;
}
#page-app .app .app-info {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#page-app .app .app-info .info-app-one {
  text-align: left;
}
#page-app .app .app-info .info-app-one button {
  margin-top: 16px;
  background-color: #f89202;
  border: 1px solid #f89202;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 16px 40px;
}
#page-app .app .app-info img {
  margin-left: 144px;
  width: 333px;
  height: 278px;
}

@media only screen and (max-width: 414px) {
  #page-app {
    height: 822px;
  }
  #page-app .app {
    margin: 0px 20px;
    width: 374px;
    text-align: center;
  }
  #page-app .app .app-info {
    margin-top: 48px;
    display: flex;
    flex-direction: column-reverse;
  }
  #page-app .app .app-info .info-app-one button {
    margin-top: 15px;
  }
  #page-app .app .app-info img {
    margin-left: 0px;
  }
}
.footer {
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
  width: 1440px;
  height: 387px;
}
.footer .footer-block {
  padding: 0px;
  margin-left: 120px;
  height: 138px;
  width: 1200px;
  padding-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .footer-block .footer-info {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
}
.footer .footer-block .footer-info .white {
  padding: 0px;
  margin: 0px;
  margin-top: 16px;
}
.footer .footer-block .footer-info .fotter-text {
  height: min-content;
  margin-top: 19px;
}
.footer .footer-block .footer-info .fotter-text .footer-img {
  margin-left: 24px;
}
.footer .line {
  margin-top: 72px;
  border: 1px solid #cacaca;
  width: 1440px;
}
.footer .botton-footer {
  margin-top: 40px;
  margin-left: 120px;
  width: 438px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (max-width: 414px) {
  .footer {
    width: 414px;
    height: 957px;
  }
  .footer .footer-block {
    margin-left: 20px;
    width: 374px;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer .footer-block .footer-info {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 15px;
  }
  .footer .footer-block .footer-info * {
    margin: 0px;
  }
  .footer .footer-block .footer-info .white {
    padding: 0px;
    margin: 0px;
    margin-top: 16px;
  }
  .footer .footer-block .footer-info .fotter-text {
    height: min-content;
    margin-top: 21px;
  }
  .footer .footer-block .footer-info .fotter-text .footer-img {
    margin-left: 24px;
  }
  .footer .line {
    margin-top: 75px;
    width: 414px;
  }
  .footer .botton-footer {
    margin-top: 40px;
    margin-left: 20px;
    width: 112px;
    height: 184px;
    display: flex;
    font-weight: 400;
    flex-direction: column;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=styles.css.map */
