html,
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #cacaca;
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: uppercase;
  color: #fff;
}

h3 .capitalize {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: capitalize;
  color: #fff;
}

h3 .capitalize-bold {
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  text-transform: capitalize;
  color: #fff;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
}

h4 .capitalize-bold {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: capitalize;
  color: #fff;
}

.text-size-7 {
  font-size: 64px;
  font-weight: normal;
  line-height: 96px;
  text-transform: none;
  color: #fff;
}

.text-size-6 {
  font-size: 56px;
  font-weight: normal;
  line-height: 84px;
  text-transform: none;
  color: #fff;
}

.text-size-5 {
  font-size: 48px;
  font-weight: normal;
  line-height: 72px;
  text-transform: none;
  color: #fff;
}

.text-size-4 {
  font-size: 40px;
  font-weight: normal;
  line-height: 60px;
  text-transform: none;
  color: #fff;
}

.text-size-3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 48px;
  text-transform: none;
  color: #fff;
}

.text-size-2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  text-transform: none;
  color: #fff;
}

.text-size-1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  text-transform: none;
  color: #fff;
}

.text-small {
  font-size: 12.8px;
  font-weight: normal;
  line-height: 19.2px;
  text-transform: none;
  color: #fff;
}

.text-small-bold {
  font-size: 12.8px;
  font-weight: bold;
  line-height: 19.2px;
  text-transform: none;
  color: #fff;
}

a {
  display: block;
  text-decoration: none;
  color: #cacaca;
  border: none;
}

.white {
  color: #fff;
}

.btn {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 1rem;
  margin: 0;
}

.gray {
  color: #cacaca;
}

.container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media screen and (width = 414px) {
  body {
    font-family: 11px/12.89px Roboto, sans-serif;
    font-weight: 700;
    text-align: left;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    color: #fff;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  .container {
    max-width: 374px;
  }
}
.white {
  color: white;
}

.upper {
  text-transform: uppercase;
}

html,
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #cacaca;
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: uppercase;
  color: #fff;
}

h3 .capitalize {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: capitalize;
  color: #fff;
}

h3 .capitalize-bold {
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  text-transform: capitalize;
  color: #fff;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
}

h4 .capitalize-bold {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: capitalize;
  color: #fff;
}

.text-size-7 {
  font-size: 64px;
  font-weight: normal;
  line-height: 96px;
  text-transform: none;
  color: #fff;
}

.text-size-6 {
  font-size: 56px;
  font-weight: normal;
  line-height: 84px;
  text-transform: none;
  color: #fff;
}

.text-size-5 {
  font-size: 48px;
  font-weight: normal;
  line-height: 72px;
  text-transform: none;
  color: #fff;
}

.text-size-4 {
  font-size: 40px;
  font-weight: normal;
  line-height: 60px;
  text-transform: none;
  color: #fff;
}

.text-size-3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 48px;
  text-transform: none;
  color: #fff;
}

.text-size-2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  text-transform: none;
  color: #fff;
}

.text-size-1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  text-transform: none;
  color: #fff;
}

.text-small {
  font-size: 12.8px;
  font-weight: normal;
  line-height: 19.2px;
  text-transform: none;
  color: #fff;
}

.text-small-bold {
  font-size: 12.8px;
  font-weight: bold;
  line-height: 19.2px;
  text-transform: none;
  color: #fff;
}

a {
  display: block;
  text-decoration: none;
  color: #cacaca;
  border: none;
}

.white {
  color: #fff;
}

.btn {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 1rem;
  margin: 0;
}

.gray {
  color: #cacaca;
}

.container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media screen and (width = 414px) {
  body {
    font-family: 11px/12.89px Roboto, sans-serif;
    font-weight: 700;
    text-align: left;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    color: #fff;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  .container {
    max-width: 374px;
  }
}
.white {
  color: white;
}

.upper {
  text-transform: uppercase;
}

#pageee-news {
  margin: 0;
  padding: 0;
  background-color: #08020d;
}
#pageee-news .section-news {
  padding-top: 100px;
  margin-bottom: 0;
}
#pageee-news .section-news * {
  margin: 0;
  text-align: center;
  color: #fff;
}
#pageee-news .section-news .new {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  margin-top: 48px;
}
#pageee-news .section-news .new .music-to-be {
  max-width: 575px;
  height: 286px;
}
#pageee-news .section-news .new .text-new * {
  text-align: left;
  margin: 0;
}
#pageee-news .section-news .new .text-new .text-header {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
}
#pageee-news .section-news .new .text-new .text-midle {
  color: #cacaca;
  margin-top: 30px;
}
#pageee-news .section-news .new .text-new .date-music {
  margin-top: 24px;
  width: 186px;
  height: 19px;
  display: grid;
  grid-template-columns: 19px 67px 68px;
  grid-column: 16px;
  justify-content: space-between;
}
#pageee-news .section-news .new .text-new .date-music * {
  margin: 0;
}
#pageee-news .section-news .new .text-new .date-music img {
  width: 19px;
  height: 19px;
}
#pageee-news .section-news .new .text-new .date-music .box {
  color: #f89202;
}
#pageee-news .section-news .new .text-new .date-music .date {
  color: #cacaca;
}
#pageee-news .section-news .new .text-new .in-albom {
  text-align: left;
  margin-top: 48px;
}
#pageee-news .section-news .new .text-new .btn {
  box-sizing: border-box;
  width: 135px;
  height: 53px;
  border-radius: 5px;
  padding: 16px 30px;
  color: #cacaca;
  border: 1px solid #cacaca;
  text-align: left;
}
#pageee-news .section-news .new .text-new .text-small {
  font-size: 12px;
}
#pageee-news .section-news .one {
  margin-top: 65px;
}

@media screen and (width = 414px) {
  #pageee-news .section-news .new {
    grid-template-columns: 1fr;
  }
  #pageee-news .section-news .new .text-new .text-header {
    font-size: 16px;
    line-height: 24px;
    margin-top: 50px;
  }
  #pageee-news .section-news .new .text-new .text-midle {
    color: #cacaca;
    margin-top: 16px;
  }
  #pageee-news .section-news .new .text-new .date-music {
    margin-top: 24px;
    max-width: 187px;
  }
  #pageee-news .section-news .new .text-new .two {
    margin-top: 16px;
  }
  #pageee-news .section-news .new .text-new .in-albom {
    text-align: left;
  }
  #pageee-news .section-news .new .text-new .btn {
    box-sizing: border-box;
    width: 135px;
    height: 53px;
    padding: 16px 30px;
    color: #cacaca;
    border: 1px solid #cacaca;
    text-align: left;
  }
  #pageee-news .section-news .new .text-new .text-small {
    font-size: 12px;
  }
  #pageee-news .section-news .new .music-to-be {
    max-width: 374px;
    height: 187px;
  }
  #pageee-news .section-news .one {
    margin-top: 64px;
    display: flex;
    flex-direction: column-reverse;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #cacaca;
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: uppercase;
  color: #fff;
}

h3 .capitalize {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: capitalize;
  color: #fff;
}

h3 .capitalize-bold {
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  text-transform: capitalize;
  color: #fff;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
}

h4 .capitalize-bold {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: capitalize;
  color: #fff;
}

.text-size-7 {
  font-size: 64px;
  font-weight: normal;
  line-height: 96px;
  text-transform: none;
  color: #fff;
}

.text-size-6 {
  font-size: 56px;
  font-weight: normal;
  line-height: 84px;
  text-transform: none;
  color: #fff;
}

.text-size-5 {
  font-size: 48px;
  font-weight: normal;
  line-height: 72px;
  text-transform: none;
  color: #fff;
}

.text-size-4 {
  font-size: 40px;
  font-weight: normal;
  line-height: 60px;
  text-transform: none;
  color: #fff;
}

.text-size-3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 48px;
  text-transform: none;
  color: #fff;
}

.text-size-2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  text-transform: none;
  color: #fff;
}

.text-size-1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  text-transform: none;
  color: #fff;
}

.text-small {
  font-size: 12.8px;
  font-weight: normal;
  line-height: 19.2px;
  text-transform: none;
  color: #fff;
}

.text-small-bold {
  font-size: 12.8px;
  font-weight: bold;
  line-height: 19.2px;
  text-transform: none;
  color: #fff;
}

a {
  display: block;
  text-decoration: none;
  color: #cacaca;
  border: none;
}

.white {
  color: #fff;
}

.btn {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 1rem;
  margin: 0;
}

.gray {
  color: #cacaca;
}

.container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media screen and (width = 414px) {
  body {
    font-family: 11px/12.89px Roboto, sans-serif;
    font-weight: 700;
    text-align: left;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    color: #fff;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  .container {
    max-width: 374px;
  }
}
#page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.fotter-top {
  display: flex;
  max-width: 1200px;
  flex-flow: row wrap;
  padding: 0 20px;
  top: 25px;
  position: absolute;
  color: #cacaca;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.fotter-top * {
  font-size: 11px;
  line-height: 16.5px;
}
.fotter-top .logo {
  margin-right: 90px;
  font-size: 11px;
  line-height: 16.5px;
  align-items: center;
  text-transform: uppercase;
  display: flex;
  column-gap: 16px;
}
.fotter-top .logo img {
  height: 25px;
  width: 25px;
}
.fotter-top .menu {
  display: flex;
  flex-flow: row wrap;
  font-size: 11px;
  column-gap: 1.5rem;
  line-height: 16.5px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}
.fotter-top .menu a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #cacaca;
}
.fotter-top .menu .music {
  color: #fff;
}
.fotter-top .searc-p {
  margin-left: auto;
}
.fotter-top .searc-p .search {
  color: #757575;
  border-radius: 50px;
  width: 248px;
  height: 25px;
  box-sizing: border-box;
  padding: 5px 10px;
  background: #3c3b3d;
  border: none;
  font-family: Arial, sans-serif;
  font-size: 13.3px;
  font-weight: 400;
  line-height: 15.29px;
  text-align: left;
}

.description {
  max-width: 1200px;
  padding: 200px 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.description * {
  margin: 0;
  text-align: center;
}
.description .fotter-indication {
  font-size: 16px;
  line-height: 24px;
  margin-top: 31px;
}
.description .form-name-email {
  display: flex;
  max-width: 570px;
  flex-flow: row wrap;
  gap: 1.5rem 1.2rem;
  margin: 0 auto;
  margin-top: 17px;
}
.description .form-name-email * {
  flex-grow: 1;
}
.description .form-name-email .input-name,
.description .form-name-email .input-email {
  max-width: 570px;
  height: 50px;
  padding-left: 20px;
  border-radius: 3px;
  border: 2px solid #cacaca;
  box-sizing: border-box;
  background: transparent;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  color: #fff;
  text-align: left;
}
.description .form-name-email input.input-name::placeholder {
  color: #fff;
}
.description .form-name-email .form-button {
  justify-content: safe;
  height: 57px;
  min-width: 374px;
  font-family: Arial, sans-serif;
  font-size: 13.3px;
  font-weight: 400;
  line-height: 15.29px;
  box-sizing: border-box;
  padding: 20px 30px;
  border-radius: 5px;
  background: #34c176;
  border: none;
}

@media screen and (width = 414px) {
  #page-description {
    max-width: 414px;
  }
  .fotter-top {
    max-width: 374px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .fotter-top .logo {
    margin-left: 0;
    font-size: 11px;
    height: 24px;
    line-height: 16.5px;
  }
  .fotter-top .menu {
    margin-left: 0;
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    line-height: 12.89px;
    align-items: start;
  }
  .fotter-top .searc-p {
    margin-top: 18px;
    margin-left: 0;
    width: 100%;
  }
  .fotter-top .searc-p .search {
    margin-left: 0;
    width: 100%;
  }
  .description {
    padding-top: 248px;
    max-width: 374px;
    text-align: center;
  }
  .description * {
    margin: 0;
    max-width: 374px;
  }
  .description .fotter-indication {
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    font-weight: 400;
  }
  .description .form-name-email {
    justify-content: space-between;
    row-gap: 24px;
  }
  .description .form-name-email * {
    flex-grow: 1;
  }
  .description .form-name-email .input-name,
  .description .form-name-email .input-email {
    max-width: 374px;
  }
  .description .form-name-email .form-button {
    margin-top: 0;
    font-family: Arial, sans-serif;
    font-size: 13.3px;
    font-weight: 400;
    line-height: 15.29px;
    box-sizing: border-box;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #cacaca;
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: uppercase;
  color: #fff;
}

h3 .capitalize {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: capitalize;
  color: #fff;
}

h3 .capitalize-bold {
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  text-transform: capitalize;
  color: #fff;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
}

h4 .capitalize-bold {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: capitalize;
  color: #fff;
}

.text-size-7 {
  font-size: 64px;
  font-weight: normal;
  line-height: 96px;
  text-transform: none;
  color: #fff;
}

.text-size-6 {
  font-size: 56px;
  font-weight: normal;
  line-height: 84px;
  text-transform: none;
  color: #fff;
}

.text-size-5 {
  font-size: 48px;
  font-weight: normal;
  line-height: 72px;
  text-transform: none;
  color: #fff;
}

.text-size-4 {
  font-size: 40px;
  font-weight: normal;
  line-height: 60px;
  text-transform: none;
  color: #fff;
}

.text-size-3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 48px;
  text-transform: none;
  color: #fff;
}

.text-size-2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  text-transform: none;
  color: #fff;
}

.text-size-1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  text-transform: none;
  color: #fff;
}

.text-small {
  font-size: 12.8px;
  font-weight: normal;
  line-height: 19.2px;
  text-transform: none;
  color: #fff;
}

.text-small-bold {
  font-size: 12.8px;
  font-weight: bold;
  line-height: 19.2px;
  text-transform: none;
  color: #fff;
}

a {
  display: block;
  text-decoration: none;
  color: #cacaca;
  border: none;
}

.white {
  color: #fff;
}

.btn {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 1rem;
  margin: 0;
}

.gray {
  color: #cacaca;
}

.container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media screen and (width = 414px) {
  body {
    font-family: 11px/12.89px Roboto, sans-serif;
    font-weight: 700;
    text-align: left;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    color: #fff;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  .container {
    max-width: 374px;
  }
}
#pageee-pricing {
  margin: 0;
  padding: 0;
  background: #08020d;
  z-index: -1;
}
#pageee-pricing .section-pricing {
  padding-top: 101px;
}
#pageee-pricing .section-pricing * {
  text-align: center;
  color: #fff;
  margin: 0;
}
#pageee-pricing .section-pricing h3 {
  height: 36px;
}
#pageee-pricing .section-pricing .pricing {
  display: flex;
  flex-flow: row wrap;
  gap: 50px 50px;
  margin-top: 48px;
  align-items: center;
  justify-content: center;
}
#pageee-pricing .section-pricing .pricing .pricing-item {
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 24px 1.5rem 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 366.6666666667px;
}
#pageee-pricing .section-pricing .pricing .pricing-item * {
  text-align: center;
  margin: 0;
}
#pageee-pricing .section-pricing .pricing .pricing-item .price {
  font-family: Roboto, sans-serif;
  margin-top: 200px;
  width: 193px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: 16px;
}
#pageee-pricing .section-pricing .pricing .pricing-item .price .pricing-value {
  font-size: 64px;
  line-height: 1em;
  font-weight: normal;
}
#pageee-pricing .section-pricing .pricing .pricing-item .price .pricing-value .text-size-2 {
  text-transform: uppercase;
}
#pageee-pricing .section-pricing .pricing .pricing-item a {
  margin-top: 40px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
  padding: 21px 0;
  height: 66px;
}
#pageee-pricing .section-pricing .pricing .pricing-item a .text-size-1 {
  text-transform: uppercase;
}
#pageee-pricing .section-pricing .pricing .pricing-item .pricing-footer {
  margin-top: 64px;
}
#pageee-pricing .section-pricing .pricing .bg-free,
#pageee-pricing .section-pricing .pricing .bg-free-three,
#pageee-pricing .section-pricing .pricing .bg-free-two {
  background-position: center;
  background-size: cover;
}
#pageee-pricing .section-pricing .pricing .bg-free {
  background-image: url("../images/subscribe_1.png");
}
#pageee-pricing .section-pricing .pricing .bg-free-two {
  background-image: url("../images/subscribe_2.png");
}
#pageee-pricing .section-pricing .pricing .bg-free-three {
  background-image: url("../images/subscribe_3.png");
}
#pageee-pricing .section-pricing .pricing-info {
  margin: 0;
  margin-top: 40px;
}

@media screen and (width = 414px) {
  #pageee-pricing {
    height: min-content;
  }
  #pageee-pricing .section-pricing {
    padding-top: 100px;
    margin-bottom: 0;
  }
  #pageee-pricing .section-pricing h3 {
    font-weight: 400;
    height: 24px;
  }
  #pageee-pricing .section-pricing .pricing {
    margin-top: 48px;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: left;
  }
  #pageee-pricing .section-pricing .pricing .pricing-item {
    max-width: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  #pageee-pricing .section-pricing .pricing .pricing-item h3 {
    margin-top: 16px;
  }
  #pageee-pricing .section-pricing .pricing .pricing-item .price {
    font-family: Roboto, sans-serif;
    margin-top: 200px;
  }
  #pageee-pricing .section-pricing .pricing .pricing-item a {
    padding: 20px 0 21px;
  }
  #pageee-pricing .section-pricing .pricing .pricing-item .pricing-footer {
    margin-bottom: 64px;
  }
  #pageee-pricing .section-pricing .pricing-info {
    margin-top: 40px;
    height: min-content;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #cacaca;
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: uppercase;
  color: #fff;
}

h3 .capitalize {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: capitalize;
  color: #fff;
}

h3 .capitalize-bold {
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  text-transform: capitalize;
  color: #fff;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
}

h4 .capitalize-bold {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: capitalize;
  color: #fff;
}

.text-size-7 {
  font-size: 64px;
  font-weight: normal;
  line-height: 96px;
  text-transform: none;
  color: #fff;
}

.text-size-6 {
  font-size: 56px;
  font-weight: normal;
  line-height: 84px;
  text-transform: none;
  color: #fff;
}

.text-size-5 {
  font-size: 48px;
  font-weight: normal;
  line-height: 72px;
  text-transform: none;
  color: #fff;
}

.text-size-4 {
  font-size: 40px;
  font-weight: normal;
  line-height: 60px;
  text-transform: none;
  color: #fff;
}

.text-size-3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 48px;
  text-transform: none;
  color: #fff;
}

.text-size-2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  text-transform: none;
  color: #fff;
}

.text-size-1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  text-transform: none;
  color: #fff;
}

.text-small {
  font-size: 12.8px;
  font-weight: normal;
  line-height: 19.2px;
  text-transform: none;
  color: #fff;
}

.text-small-bold {
  font-size: 12.8px;
  font-weight: bold;
  line-height: 19.2px;
  text-transform: none;
  color: #fff;
}

a {
  display: block;
  text-decoration: none;
  color: #cacaca;
  border: none;
}

.white {
  color: #fff;
}

.btn {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 1rem;
  margin: 0;
}

.gray {
  color: #cacaca;
}

.container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media screen and (width = 414px) {
  body {
    font-family: 11px/12.89px Roboto, sans-serif;
    font-weight: 700;
    text-align: left;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    color: #fff;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  .container {
    max-width: 374px;
  }
}
.white {
  color: white;
}

.upper {
  text-transform: uppercase;
}

#pageee-app {
  background-color: #08020d;
}
#pageee-app .app {
  padding-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
#pageee-app .app h2 {
  margin: 0;
}
#pageee-app .app .app-info {
  margin-top: 64px;
  display: flex;
  flex-flow: row wrap;
  column-gap: 144px;
  color: #fff;
}
#pageee-app .app .app-info .info-app-one {
  max-width: 600px;
  text-align: left;
  margin: 0;
}
#pageee-app .app .app-info .info-app-one p {
  margin-top: 0;
}
#pageee-app .app .app-info .info-app-one .two {
  margin-bottom: 0;
}
#pageee-app .app .app-info .info-app-one button {
  margin: 0;
  margin-top: 16px;
  background-color: #95390c;
  border: none;
  border-radius: 32px;
  box-sizing: border-box;
  padding: 16px 40px;
  height: 53px;
}
#pageee-app .app .app-info img {
  justify-items: right;
  width: 333px;
  height: 278px;
}

@media screen and (width = 414px) {
  #pageee-app .app {
    max-width: 374px;
    text-align: center;
  }
  #pageee-app .app .app-info {
    margin-top: 48px;
    flex-direction: column-reverse;
    row-gap: 16px;
  }
  #pageee-app .app .app-info p {
    margin-top: 0;
  }
  #pageee-app .app .app-info img {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #cacaca;
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  background-color: #08020d;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 38px;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
  color: #fff;
}

h3 {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: uppercase;
  color: #fff;
}

h3 .capitalize {
  font-size: 24px;
  font-weight: normal;
  line-height: 45px;
  text-transform: capitalize;
  color: #fff;
}

h3 .capitalize-bold {
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  text-transform: capitalize;
  color: #fff;
}

h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: uppercase;
  color: #fff;
}

h4 .capitalize-bold {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: capitalize;
  color: #fff;
}

.text-size-7 {
  font-size: 64px;
  font-weight: normal;
  line-height: 96px;
  text-transform: none;
  color: #fff;
}

.text-size-6 {
  font-size: 56px;
  font-weight: normal;
  line-height: 84px;
  text-transform: none;
  color: #fff;
}

.text-size-5 {
  font-size: 48px;
  font-weight: normal;
  line-height: 72px;
  text-transform: none;
  color: #fff;
}

.text-size-4 {
  font-size: 40px;
  font-weight: normal;
  line-height: 60px;
  text-transform: none;
  color: #fff;
}

.text-size-3 {
  font-size: 32px;
  font-weight: normal;
  line-height: 48px;
  text-transform: none;
  color: #fff;
}

.text-size-2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 36px;
  text-transform: none;
  color: #fff;
}

.text-size-1 {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  text-transform: none;
  color: #fff;
}

.text-small {
  font-size: 12.8px;
  font-weight: normal;
  line-height: 19.2px;
  text-transform: none;
  color: #fff;
}

.text-small-bold {
  font-size: 12.8px;
  font-weight: bold;
  line-height: 19.2px;
  text-transform: none;
  color: #fff;
}

a {
  display: block;
  text-decoration: none;
  color: #cacaca;
  border: none;
}

.white {
  color: #fff;
}

.btn {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 1rem;
  margin: 0;
}

.gray {
  color: #cacaca;
}

.container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

@media screen and (width = 414px) {
  body {
    font-family: 11px/12.89px Roboto, sans-serif;
    font-weight: 700;
    text-align: left;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
    text-transform: uppercase;
    color: #fff;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    text-transform: uppercase;
    color: #fff;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  h4 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  .container {
    max-width: 374px;
  }
}
.white {
  color: white;
}

.upper {
  text-transform: uppercase;
}

.footer {
  background: linear-gradient(265.08deg, #95390c 14.9%, #5328a1 68.95%);
}
.footer .footer-block {
  padding-top: 62px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer .footer-block .footer-info {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  align-content: flex-start;
}
.footer .footer-block .footer-info .white {
  padding: 0;
  margin: 0;
}
.footer .footer-block .footer-info .fotter-text p {
  margin: 0;
}
.footer .footer-block .footer-info .fotter-text .footer-img {
  margin-left: 24px;
}
.footer .line {
  border: 1px solid #cacaca;
}
.footer .botton-footer {
  max-width: 1200px;
  padding-top: 40px;
  padding-bottom: 49px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  column-gap: 16px;
}

@media screen and (width = 414px) {
  .footer .footer-block {
    flex-direction: column;
    row-gap: 30px;
  }
  .footer .footer-block .footer-info {
    text-align: left;
  }
  .footer .footer-block .footer-info h4 {
    line-height: 27px;
  }
  .footer .botton-footer {
    font-weight: 400;
    flex-direction: column;
    row-gap: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
