@import url("variables.scss");
@import url("general.scss");

.footer {
  background: linear-gradient(
    265.08deg,
    $background-color-brown 14.9%,
    $background-color-violet 68.95%
  );
  .footer-block {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .footer-info {
      text-align: left;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 15px;
      align-content: flex-start;
      h4 {
      }
      .white {
        padding: 0px;
        margin: 0px;
      }
      .fotter-text {
        p {
          margin: 0;
        }
        .footer-img {
          margin-left: 24px;
        }
      }
    }
  }
  .line {
    border: 1px solid #cacaca;
  }
  .botton-footer {
    max-width: 1200px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 16px;
  }
}

@media only screen and (max-width: 414px) {
  .footer {
    .footer-block {
      flex-direction: column;
      row-gap: 30px;
      .footer-info {
        text-align: left;
      }
    }
    .line {
    }
    .botton-footer {
      font-weight: 400;
      flex-direction: column;
      row-gap: 16px;
    }
  }
}
