@import url("variables.scss");
@import url("general.scss");

.footer {
  background: linear-gradient(
    265.08deg,
    $background-color-brown 14.9%,
    $background-color-violet 68.95%
  );
  width: 1440px;
  height: 387px;

  .footer-block {
    padding: 0px;
    margin-left: 120px;
    height: 138px;
    width: 1200px;
    padding-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .footer-info {
      text-align: left;
      display: grid;
      grid-template-columns: 1fr;

      .white {
        padding: 0px;
        margin: 0px;
        margin-top: 16px;
      }
      .fotter-text {
        height: min-content;
        margin-top: 19px;

        .footer-img {
          margin-left: 24px;
        }
      }
    }
  }
  .line {
    margin-top: 72px;
    border: 1px solid #cacaca;
    width: 1440px;
  }
  .botton-footer {
    margin-top: 40px;
    margin-left: 120px;
    width: 438px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 414px) {
  .footer {
    width: 414px;
    height: 957px;

    .footer-block {
      margin-left: 20px;
      width: 374px;
      height: min-content;
      //   padding-top: 3rem;
      //   margin-bottom: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .footer-info {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 15px;

        & * {
          margin: 0px;
        }
        .white {
          padding: 0px;
          margin: 0px;
          margin-top: 16px;
        }
        .fotter-text {
          height: min-content;
          margin-top: 21px;

          .footer-img {
            margin-left: 24px;
          }
        }
      }
    }
    .line {
      margin-top: 75px;
      width: 414px;
    }
    .botton-footer {
      margin-top: 40px;
      margin-left: 20px;
      width: 112px;
      height: 184px;
      display: flex;
      font-weight: 400;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
