@import url("variables.scss");

#page-pricing {
  margin: 0px;
  padding: 0px;
  background: $base-color-background;
  z-index: -1;

  .section-pricing {
    padding-top: 100px;
    padding-bottom: 0px;
    max-width: 1200px;

    & * {
      text-align: center;
      color: $color-text-white;
      margin: 0px;
    }

    // .pricing-form {
    //   width: 1200px;
    //   // padding-top: 100px;
    // }
    h3 {
      height: 36px;
    }
    .pricing {
      // width: 1200px;
      // height: ;
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr;
      // grid-template-rows: 2;
      display: flex;
      flex-direction: row;
      // flex-wrap: wrap;
      column-gap: 50px;
      margin-top: 48px;

      .pricing-item {
        box-sizing: border-box;
        // padding: 1.5rem;
        // padding-bottom: 64px;
        border-radius: 1rem;
        padding: 24px 1.5rem 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // max-width: ;
        // width: 368.2px;
        // height: 615px;
        //   h3 {
        //     margin-top: 24px;
        //   }
        & * {
          text-align: center;
          margin: 0;
        }
        .price {
          font-family: "Roboto";
          margin-top: 200px;
          // margin-left: 99px;
          width: 193px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          column-gap: 16px;
          .pricing-value {
            font-size: 64px;
            line-height: 1em;
            font-weight: normal;
            .text-size-2 {
              text-transform: uppercase;
            }
          }
        }
        a {
          margin-top: 40px;
          // width: 318.66px;
          box-sizing: border-box;
          display: inline-block;
          border: 1px solid #ffffff;
          border-radius: 5px;
          width: 100%;
          padding: 21px 0px;
          height: 66px;

          .text-size-1 {
            text-transform: uppercase;
          }
        }
        .pricing-footer {
          margin-top: 64px;
          // width: 318px;
          // height: 57px;
        }
      }
      .bg-free,
      .bg-free-three,
      .bg-free-two {
        // width: 368.2px;
        // height: 615px;
        background-position: center;
        background-size: cover;
      }
      .bg-free {
        background-image: url("../images/subscribe_1.png");

        .price {
          // width: 121px;
        }
      }
      .bg-free-two {
        background-image: url("../images/subscribe_2.png");
      }
      .bg-free-three {
        background-image: url("../images/subscribe_3.png");
      }
    }

    .pricing-info {
      margin: 0;
      max-width: 1200px;
      margin-top: 40px;
    }
  }
}

@media only screen and (max-width: 414px) {
  #page-pricing {
    max-width: 414px;
    .section-pricing {
      padding-top: 100px;
      padding-bottom: 1px;

      & * {
        max-width: 374px;
      }
      // padding-top: 100px;
      // margin: 0 20px;
      // width: 374px;

      h3 {
        font-weight: 400;
        height: 24px;
      }

      .pricing {
        margin-top: 49px;
        // width: 374px;
        // height: ;
        row-gap: 50px;
        flex-wrap: wrap;
        justify-content: left;

        .pricing-item {
          padding-top: 16px;
          .price {
            font-family: "Roboto", sans-serif;
            margin-top: 200px;

            // display: grid;
            // grid-template-columns: 1fr 1fr;
            // .pricing-value {
            //   font-size: 64px;
            //   line-height: 1em;
            //   font-weight: normal;
            //   .text-size-2 {
            //     text-transform: uppercase;
            //   }
            // }
          }
          // a {
          //   width: 326px;
          // }
          .pricing-footer {
            min-width: 100%;
          }
        }
        .bg-free,
        .bg-free-three,
        .bg-free-two {
          min-width: 374px;
          // height: 598px;
        }
        .bg-free {
          .price {
            width: 123.42px;
          }
        }
      }
      .pricing-info {
        min-width: 100%;
        // height: 120px;
        margin-top: 40px;
        // text-align: center;
      }
    }
  }
}
