@import url("variables");
@import url("general");

#pageee-app {
  background-color: $base-color-background;

  .app {
    padding-top: 100px;
    margin-bottom: 100px;
    text-align: center;

    h2 {
      margin: 0;
    }

    .app-info {
      margin-top: 64px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 144px;
      color: $color-text-white;

      .info-app-one {
        max-width: 600px;
        text-align: left;
        margin: 0;

        p {
          margin-top: 0;
        }

        .two {
          margin-bottom: 0;
        }

        button {
          margin: 0;
          margin-top: 16px;
          background-color: $background-color-brown;
          border: none;
          border-radius: 32px;
          box-sizing: border-box;
          padding: 16px 40px;
          height: 53px;
        }
      }

      img {
        justify-items: right;
        width: 333px;
        height: 278px;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  #pageee-app {
    .app {
      max-width: 374px;
      text-align: center;

      .app-info {
        margin-top: 48px;
        flex-direction: column-reverse;
        row-gap: 16px;

        p {
          margin-top: 0;
        }

        img {
          display: block;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
}
