@import url("variables.scss");
@import url("general.scss");

#page-similar {
  display: flex;
  padding-bottom: 0px;
  margin-bottom: 100px;
  flex-direction: column;
  row-gap: 48px;
  h2 {
    margin: 0;
  }
  .simlar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 25px;

    .similar-item {
      align-items: center;
      display: flex;
      flex-direction: column;
      row-gap: 17px;
      flex-wrap: nowrap;

      img {
        width: 250px;
        height: 250px;
      }
      .similar-info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        row-gap: 1px;
        h4 {
          line-height: 27px;
        }
        & * {
          margin: 0;
        }
        // h4 {
        // }
        p {
          color: $color-text-light-gray;
        }
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  #page-similar .simlar {
    .similar-item {
      // justify-content: space-between;
      max-width: 137px;
      align-items: center;

      img {
        width: 137px;
        height: 137px;
      }
      .similar-info {
        text-align: center;
        h4 {
          text-transform: capitalize;
        }
      }
    }
    .two {
      max-width: 138px;
    }
  }
}
