@import url("variables.scss");

#pageee-pricing {
  margin: 0px;
  padding: 0px;
  background: $base-color-background;
  z-index: -1;
  // height: 908px;

  .section-pricing {
    padding-top: 101px;
    // margin-bottom: 0px;
    // height: 908px;
    // padding-bottom: -17px;
    // max-width: 1200px;

    & * {
      text-align: center;
      color: $color-text-white;
      margin: 0px;
    }
    h3 {
      height: 36px;
    }
    .pricing {
      display: flex;
      flex-direction: row;
      // flex-wrap: wrap;
      column-gap: 50px;
      margin-top: 48px;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      column-gap: 50px;
      row-gap: 50px;
      .pricing-item {
        box-sizing: border-box;
        border-radius: 1rem;
        padding: 24px 1.5rem 64px;
        display: flex;
        // flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        max-width: calc(1100px / 3);
        & * {
          text-align: center;
          margin: 0;
        }
        .price {
          font-family: "Roboto";
          margin-top: 200px;
          width: 193px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: center;
          column-gap: 16px;
          .pricing-value {
            font-size: 64px;
            line-height: 1em;
            font-weight: normal;
            .text-size-2 {
              text-transform: uppercase;
            }
          }
        }
        a {
          margin-top: 40px;
          box-sizing: border-box;
          display: inline-block;
          border: 1px solid #ffffff;
          border-radius: 5px;
          width: 100%;
          padding: 21px 0px;
          height: 66px;

          .text-size-1 {
            text-transform: uppercase;
          }
        }
        .pricing-footer {
          margin-top: 64px;
        }
      }
      .bg-free,
      .bg-free-three,
      .bg-free-two {
        background-position: center;
        background-size: cover;
      }
      .bg-free {
        background-image: url("../images/subscribe_1.png");
        .price {
          // width: 121px;
        }
      }
      .bg-free-two {
        background-image: url("../images/subscribe_2.png");
      }
      .bg-free-three {
        background-image: url("../images/subscribe_3.png");
      }
    }

    .pricing-info {
      margin: 0;
      // max-width: 1200px;
      margin-top: 40px;
      // height: 44px;

      p {
        // height: 44px;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  #pageee-pricing {
    height: min-content;
    // max-width: 414px;
    // min-width: 200px;
    .section-pricing {
      padding-top: 100px;
      margin-bottom: 0px;
      & * {
        // max-width: 374px;
      }
      h3 {
        font-weight: 400;
        height: 24px;
      }
      .pricing {
        margin-top: 49px;
        row-gap: 50px;
        flex-wrap: wrap;
        justify-content: left;
        .pricing-item {
          padding-top: 16px;
          .price {
            font-family: "Roboto", sans-serif;
            margin-top: 200px;
          }
          .pricing-footer {
            // min-width: 100%;
          }
        }
        .bg-free,
        .bg-free-three,
        .bg-free-two {
          // min-width: 374px;
        }
        .bg-free {
          .price {
            // margin-top: 203px;
            width: 123.42px;
          }
        }
      }
      .pricing-info {
        // min-width: 100%;
        margin-top: 40px;
        height: min-content;
        // выше добавила height
      }
    }
  }
}
