@import "variables";

#page-description {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.fotter-top {
  display: flex;
  max-width: 1200px;
  flex-flow: row wrap;
  padding: 0 20px;
  top: 25px;
  position: absolute;
  color: $base-color-text;
  left: 0;
  right: 0;
  margin: 0 auto;

  & * {
    font-size: 11px;
    line-height: 16.5px;
  }

  .logo {
    margin-right: 90px;
    font-size: 11px;
    line-height: 16.5px;
    align-items: center;
    text-transform: uppercase;
    display: flex;
    column-gap: 16px;

    img {
      height: 25px;
      width: 25px;
    }
  }

  .menu {
    display: flex;
    flex-flow: row wrap;
    font-size: 11px;
    column-gap: 1.5rem;
    line-height: 16.5px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;

    a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      color: $base-color-text;
    }

    .music {
      color: $color-text-white;
    }
  }

  .searc-p {
    margin-left: auto;

    .search {
      color: #757575;
      border-radius: 50px;
      width: 248px;
      height: 25px;
      box-sizing: border-box;
      padding: 5px 10px;
      background: $color-text-dark-gray;
      border: none;
      font-family: Arial, sans-serif;
      font-size: 13.3px;
      font-weight: 400;
      line-height: 15.29px;
      text-align: left;
    }
  }
}

.description {
  max-width: 1200px;
  padding: 200px 20px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  & * {
    margin: 0;
    text-align: center;
  }

  .fotter-indication {
    font-size: 16px;
    line-height: 24px;
    margin-top: 31px;
  }

  .form-name-email {
    display: flex;
    max-width: 570px;
    flex-flow: row wrap;
    gap: 1.5rem 1.2rem;
    margin: 0 auto;
    margin-top: 17px;

    & * {
      flex-grow: 1;
    }

    .input-name,
    .input-email {
      max-width: 570px;
      height: 50px;
      padding-left: 20px;
      border-radius: 3px;
      border: 2px solid $base-color-text;
      box-sizing: border-box;
      background: transparent;
      font-size: 14px;
      font-weight: 700;
      line-height: 16.41px;
      color: $color-text-white;
      text-align: left;
    }

    input.input-name::placeholder {
      color: $color-text-white;
    }

    input.input-name::-webkit-input-placeholder {
      color: $color-text-white;
    }

    input.input-name::-moz-placeholder {
      color: $color-text-white;
    }

    input.input-name:-moz-placeholder {
      color: $color-text-white;
    }

    input.input-name:-ms-input-placeholder {
      color: $color-text-white;
    }

    input.input-email::placeholder {
      color: $color-text-white;
    }

    input.input-email::-webkit-input-placeholder {
      color: $color-text-white;
    }

    input.input-email::-moz-placeholder {
      color: $color-text-white;
    }

    input.input-email:-moz-placeholder {
      color: $color-text-white;
    }

    input.input-email:-ms-input-placeholder {
      color: $color-text-white;
    }

    .form-button {
      justify-content: safe;
      height: 57px;
      min-width: 374px;
      font-family: Arial, sans-serif;
      font-size: 13.3px;
      font-weight: 400;
      line-height: 15.29px;
      box-sizing: border-box;
      padding: 20px 30px;
      border-radius: 5px;
      background: #34c176;
      border: none;
    }
  }
}

@media only screen and (max-width: 414px) {
  #page-description {
    max-width: 414px;
  }

  .fotter-top {
    max-width: 374px;
    display: flex;
    flex-direction: column;
    align-items: start;

    .logo {
      margin-left: 0;
      font-size: 11px;
      height: 24px;
      line-height: 16.5px;
    }

    .menu {
      margin-left: 0;
      margin-top: 17px;
      display: flex;
      flex-direction: column;
      font-size: 11px;
      line-height: 12.89px;
      align-items: start;
    }

    .searc-p {
      margin-top: 18px;
      margin-left: 0;
      width: 100%;

      .search {
        margin-left: 0;
        width: 100%;
      }
    }
  }

  .description {
    padding-top: 248px;
    max-width: 374px;
    text-align: center;

    & * {
      margin: 0;
      max-width: 374px;
    }

    .fotter-indication {
      font-size: 16px;
      line-height: 24px;
      margin-top: 16px;
      font-weight: 400;
    }

    .form-name-email {
      justify-content: space-between;
      row-gap: 24px;

      & * {
        flex-grow: 1;
      }

      .input-name,
      .input-email {
        max-width: 374px;
      }

      .form-button {
        margin-top: 0;
        font-family: Arial, sans-serif;
        font-size: 13.3px;
        font-weight: 400;
        line-height: 15.29px;
        box-sizing: border-box;
      }
    }
  }
}
