@import "variables";
@import "general";

#page-discography {
  padding: 100px 20px 0;
  display: flex;
  flex-flow: column wrap;
  row-gap: 48px;

  h2 {
    margin: 0;
  }

  .discography {
    display: flex;
    flex-flow: row wrap;
    row-gap: 25px;
    column-gap: 50px;

    .discography-item {
      display: flex;
      flex-flow: column nowrap;
      row-gap: 18px;

      img {
        width: 250px;
        height: 250px;
      }

      .discography-info {
        display: flex;
        flex-flow: column wrap;

        & * {
          margin: 0;
        }

        h4 {
          text-transform: capitalize;
          line-height: 27px;
        }

        p {
          color: $color-text-light-gray;
        }
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  #page-discography .discography {
    .discography-item {
      max-width: 137px;

      img {
        width: 137px;
        height: 137px;
      }

      .discography-info {
        h4 {
          text-transform: capitalize;
        }
      }
    }

    .two {
      max-width: 138px;
    }
  }
}
