@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  src: "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
}
body {
  font: "Roboto" 16px/1.5px;
  color: #cacaca;
  width: 1440px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.desktop-h1 {
  font-size: 60px;
  font-weight: bold;
  line-height: 90px;
  text-transform: uppercase;
}

.desktop-h2 {
  font-size: 38px;
  font-weight: bold;
  line-height: 57px;
  text-transform: uppercase;
}

.mobile-h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 45px;
  text-transform: uppercase;
}

.mobile-h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  text-transform: uppercase;
}

.white {
  color: white;
}

.upper {
  text-transform: uppercase;
}

#page-description {
  background-image: url("../images/banner.png");
  position: relative;
  min-width: 1200px;
  max-width: 1440px;
  height: 750px;
  background-position: center;
  background-size: cover;
}

.fotter {
  width: 1200px;
  margin: 0 120px;
}
.fotter .fotter-top {
  width: 1200px;
  height: 25px;
  padding-top: 25px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 30px;
}
.fotter .fotter-top .logo {
  font-size: 11px;
  line-height: 16.5px;
  display: grid;
  grid-template-columns: 25px auto;
  justify-content: start;
  grid-column-gap: 16px;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
}
.fotter .fotter-top .logo img {
  height: 25px;
  width: 25px;
}
.fotter .fotter-top .menu {
  display: grid;
  grid-auto-flow: column;
  font-size: 11px;
  line-height: 16.5px;
  grid-column: 2/3;
}
.fotter .fotter-top .menu a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 16.5px;
  color: #cacaca;
}
.fotter .fotter-top .menu .music {
  color: white;
}
.fotter .fotter-top .searc-p {
  justify-content: end;
  justify-items: end;
  display: grid;
  grid-column: 1fr;
  grid-column: 3/4;
}
.fotter .fotter-top .searc-p .search {
  justify-content: end;
  border-radius: 50px;
  height: 25px;
  display: inline-block;
  padding-left: 10px;
  width: 248px;
  background: #3c3b3d;
  border: 1px solid #3c3b3d;
  font-family: Arial;
  font-size: 13.3px;
  font-weight: 400;
  line-height: 15.29px;
  text-align: left;
}
.fotter .fotter-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4;
  width: 100%;
  height: min-content;
  text-align: center;
  margin-top: 150px;
}
.fotter .fotter-form * {
  margin: 0px;
}
.fotter .fotter-form .fotter-indication {
  font-size: 16px;
  line-height: 24px;
  margin-top: 21px;
}
.fotter .fotter-form .form-name-email {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 0px 314px;
  gap: 16px;
}
.fotter .fotter-form .form-name-email .input-name,
.fotter .fotter-form .form-name-email .input-email {
  min-height: 50px;
  min-width: 270px;
  padding-left: 20px;
  margin-top: 1.5rem;
  border-radius: 3px;
  border: 2px solid #cacaca;
  box-sizing: border-box;
  background: transparent;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  color: #ffffff;
  text-align: left;
}
.fotter .fotter-form .form-name-email .input-name input.input-name::placeholder,
.fotter .fotter-form .form-name-email .input-email input.input-name::placeholder {
  color: #ffffff;
}
.fotter .fotter-form .form-name-email .input-name input.input-name::-webkit-input-placeholder,
.fotter .fotter-form .form-name-email .input-email input.input-name::-webkit-input-placeholder {
  color: #ffffff;
}
.fotter .fotter-form .form-name-email .input-name input.input-name::-moz-placeholder,
.fotter .fotter-form .form-name-email .input-email input.input-name::-moz-placeholder {
  color: #ffffff;
}
.fotter .fotter-form .form-name-email .input-name input.input-name:-moz-placeholder,
.fotter .fotter-form .form-name-email .input-email input.input-name:-moz-placeholder {
  color: #ffffff;
}
.fotter .fotter-form .form-name-email .input-name input.input-name:-ms-input-placeholder,
.fotter .fotter-form .form-name-email .input-email input.input-name:-ms-input-placeholder {
  color: #ffffff;
}
.fotter .fotter-form .form-name-email .form-button {
  height: 57px;
  width: 570px;
  font-family: Arial;
  font-size: 13.3px;
  font-weight: 400;
  line-height: 15.29px;
  box-sizing: border-box;
  padding: 20px 30px;
  border-radius: 5px;
  background: #34c176;
  justify-items: stretch;
  grid-column: 1/3;
  border: 1px solid #34c176;
}

/*# sourceMappingURL=styles.css.map */
